<style type="text/css">
  .grid-container {
    border: 1px solid black;
    width: 400px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-rows: auto;
    height: 120px;
  }
  #Box1, #Box2 {
    border: 1px solid black;
    padding: 40px;
    margin: 10px;
    text-align: center;
    font-family: Helvetica Neue;
  }
  #Box1 {
    grid-row: 1;
    grid-column:1;
  }
  #Box2 {
    grid-row: 1;
    grid-column:2;
  }
</style>

<div class="grid-container">
  <div id="Box1">Box1</div>
  <div id="Box2">Box2</div>
</div>
