/* CCSSSSSSS*/
.meme {
    background-color: black;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 600px;
    margin: auto auto;
    padding: 10px;

}

.meme h1 {
    text-align: center;
}
.meme p {
    text-align: center;
}
.btn_share {
    background: rgb(59, 89, 152);
    color: white;
    width: 300px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    margin: 40px auto;
    padding: 10px;
}
.btn_share a {
    color: white;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 24px;
}
.btn_share a:visited {
    color: lightgray;
}